body {
  /* The margin at the bottom is dictated by the height of the footer */
  margin-bottom: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Make sure the text is vertically centered in the footer */
  line-height: 60px;
  padding: 0 15px;
}

.icon {
  width: 1.5rem;
  margin: 0 0.25rem;
}
